:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

  .content {
    display: grid;
    grid-gap: 1.5rem;
    padding: 1.5rem;
    min-height: 0;

    height: 100%;
    width: 100%;

    // Desktop layout
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-areas:
      "weather weather crypto crypto crypto crypto"
      "quote quote crypto crypto crypto crypto"
      "dailytasks dailytasks dailytasks productivity productivity productivity";

    // Tablet et mobile layout
    @media (max-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, minmax(0, 1fr));
      grid-template-areas:
        "weather weather quote quote"
        "crypto crypto crypto crypto"
        "crypto crypto crypto crypto"
        "crypto crypto crypto crypto"
        "dailytasks dailytasks productivity productivity"
        "dailytasks dailytasks productivity productivity"
        ;
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, minmax(0, 1fr));
      grid-template-areas: "weather weather quote quote"
      "crypto crypto crypto crypto"
      "crypto crypto crypto crypto"
      "crypto crypto crypto crypto"
      "dailytasks dailytasks dailytasks dailytasks"
      "productivity productivity productivity productivity"
      ;
    }

    section {
      border-radius: 1rem;
      background-color: var(--main-color);
      box-shadow: var(--box-shadow);
      padding: 1.5rem;

      @media (max-width: 900px) {
        padding: 0.5rem;
      }

      &.crypto {
        grid-area: crypto;
      }

      &.weather {
        grid-area: weather;
      }
    
      &.quote {
        grid-area: quote;
      }
    
      &.dailytasks {
        grid-area: dailytasks;
      }
    
      &.productivity {
        grid-area: productivity;
      }
    }
  }
}