:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    min-height: 100vh;

    header {
        display: flex;
        width: 225px;
        background-color: var(--main-color);
        box-sizing: border-box;
        flex-direction: column;
        box-shadow: 0 0 15px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));

        nav {
            display: flex;
            flex-direction: column;
            flex: 1;

            .logo {
                width: 100%;
                display: flex;
                padding: 2rem 1rem 3rem 1rem;
                box-sizing: border-box;

                .menu-burger {
                    display: none;
                    cursor: pointer;
                    
                    &:focus {
                        outline: 2px solid var(--text);
                    }
                    
                    svg {
                        display: block;
                        width: 30px;
                        height: 30px;
                        fill: var(--text);
                    }
                }

                .logo-title {
                    width: 100%;
                    text-decoration: none;
                }
            }
        }

        .nav-links {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;

                &.active, &:hover {

                    a {
                        width: 100%;
                        color: var(--text);
                        font-weight: bold;
                        background-color: var(--selected-bg);
                    }
                }

                a {
                    width: 100%;
                    color: var(--text);
                    text-decoration: none;
                    margin: .2rem 1rem;
                    padding: 1rem;
                    border-radius: 10px;
                }
            }
        }

        .profil {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: .2rem 1rem 2rem 1rem;
            padding: 1rem;
            bottom: 0;
            gap: 10px;
            box-shadow: 0 0 15px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
            border-radius: 10px;

            .info {
                display: flex;
                width: 100%;
                align-items: center;
                background: none;
                border: none;
                padding: .5rem;
                margin: 0;
                text-decoration: none;
                box-sizing: border-box;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    margin-right: .5rem;

                    .name {
                        font-weight: bold;
                        color: var(--text);
                        font-size: large;
                    }

                    .role {
                        font-weight: 400;
                        color: var(--text);
                        opacity: 0.8;
                        font-size: smaller;
                    }
                }

                svg {
                    width: 24px;
                    height: 24px;
                    fill: var(--text);
                }
            }

            .logout {
                display: flex;
                justify-content: center;
                width: 100%;
                color: var(--red-text);
                background-color: var(--red-bg);
                margin-top: .5rem;
                padding: .7rem;
                text-align: center;
                box-sizing: border-box;
                border-radius: 10px;
                border: none;
                font-weight: bold;

                &:hover {
                    background-color: light-dark(#ffcccc, #660000);
                    box-shadow: 0 4px 8px light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.3));
                    transition: all 0.3s ease;
                }

                &:focus {
                    outline: 2px solid var(--text);
                }

                svg {
                    width: 16px;
                    height: 16px;
                    fill: var(--red-text);
                    margin-right: .5rem;
                }
            }
        }
    }

    main {
        flex: 1;
        padding: 1rem;
    }
}

@media screen and (max-width: 1350px) {
    :host {
        flex-direction: column;
        width: 100%;
        height: 100%;

        header {
            width: 100%;

            nav {
                flex-direction: row;

                .logo {
                    padding: 1rem;

                    .menu-burger {
                        display: block;
                    }
                }

                .nav-links {
                    display: none;
                }

                .switcher {
                    display: none;
                }

                .profil {
                    display: none;
                }

                &.open {
                    min-height: 100%;
                    flex-direction: column;
                    position: absolute;
                    z-index: 10;
                    width: 100%;
                    background-color: var(--main-color);

                    .nav-links {
                        display: block;
                        margin-top: 5rem;
                    }

                    .switcher {
                        display: block;
                        margin-top: 2rem;
                    }

                    .profil {
                        margin-top: 2rem;
                        display: flex;
                    }
                }
            }
        }
    }
}