:host {
  flex: 1;
}

.toggle-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem 0;
  padding: 1rem 0;

  .theme-label {
    margin-bottom: 0.5rem;
    color: var(--text);
    font-weight: bold;
  }

  .switch-label {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: lightgray;
      border-radius: 24px;

      &:hover {
        background-color: dimgray;
      }

      &::before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        border-radius: 50%;
        transition: 0.3s;
      }

      .icon {
        position: absolute;
        display: none;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        fill: var(--text);

        &.sun {
          top: 42%;
          left: -45%;
        }

        &.moon {
          top: 42%;
          right: -50%;
        }
      }

      .visible {
        display: block;
      }
    }

    .checkbox:checked + .slider {
      background-color: dimgray;

      &:hover {
        background-color: lightgrey;
      }
    }

    .checkbox:checked + .slider:before {
      transform: translateX(24px);
    }

    .checkbox:focus + .slider {
      outline: 2px solid var(--text);
    }
  }
}

@media screen and (max-width: 1350px) {
  :host {
    flex: none;
  }
}